<div class="container" id="container">

  <div class="form-container sign-in-container">
  
    <!-- <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
            <div class="relative w-full mb-3">
              <label class="block uppercase text-white text-xs font-bold mb-2" htmlFor="grid-password">
                Email
              </label>
              <input type="email" formControlName="email"
                class="border-0 px-3 py-3 placeholder-black text-black bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Email" />

              <div class="validation-errors text-yellow-600">
                <ng-container *ngFor="let validation of validationMessages.email">
                  <div class="error-message"
                    *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="relative w-full mb-3">
              <label class="block uppercase text-white text-xs font-bold mb-2" htmlFor="grid-password">
                Password
              </label>
              <input type="password" formControlName="password"
                class="border-0 px-3 py-3 placeholder-black text-black-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Password" />

              <div class="validation-errors text-yellow-600">
                <ng-container *ngFor="let validation of validationMessages.password">
                  <div class="error-message"
                    *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </div>
            <div>
              <label class="inline-flex items-center cursor-pointer">
                <input id="customCheckLogin" type="checkbox"
                  class="form-checkbox border-0 text-white ml-1 w-5 h-5 ease-linear transition-all duration-150 rounded" />
                <span class="ml-2 text-sm font-semibold text-white">
                  Remember me
                </span>
              </label>
            </div>

            <div class="text-center mt-6 ">
              <button [disabled]="!loginForm.valid"
                class="bg-white  text-teal-70 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                type="submit"> 
                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                Sign In
              </button>
            </div>
            
          </form> -->
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <div class="logo">
            <img src="assets/img/logo.png" width="100%" style="text-align: center;"/>
          </div>
      <h1>Sign In</h1>
      <!--  email -->
      <div class="input-icons">
        <i class="ni ni-email-83 icon"></i>
        
        <input type="email" class="input-field"  placeholder="Email" formControlName="email" />
        <div class="validation-errors text-yellow-600">
          <ng-container *ngFor="let validation of validationMessages.email">
            <div
              class="error-message"
              *ngIf="
                loginForm.get('email').hasError(validation.type) &&
                (loginForm.get('email').dirty || loginForm.get('email').touched)
              "
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <!-- Password -->
      <div class="input-icons">
        <i class="ni ni-lock-circle-open icon" ></i>
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
          class="input-field" 
        />
        <div class="validation-errors text-yellow-600">
          <ng-container *ngFor="let validation of validationMessages.password">
            <div
              class="error-message"
              *ngIf="
                loginForm.get('password').hasError(validation.type) &&
                (loginForm.get('password').dirty ||
                  loginForm.get('password').touched)
              "
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <div style="text-align: center;">
        <button [disabled]="!loginForm.valid">Sign In</button>
      </div>
      <div >
        <a class="forgotPassword">Forgot your password?</a>
    </div>
     
    </form>
   
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <!-- <div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Home</button>
			</div> -->
      <div class="overlay-panel overlay-right">
        <!-- <h1>Hello, Friend!</h1> -->
        <!-- <p>Enter your personal details and start journey with us</p> -->
        <button class="ghost" id="signUp">Home</button>
      </div>
    </div>
  </div>
</div>

<!-- <footer>
	<p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://florin-pop.com">Florin Pop</a>
		- Read how I created this and how you can join the challenge
		<a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
	</p>
</footer> -->
