/* You can add global styles to this file, and also import other style files */
.validation-errors{
    margin-left:5px ;
    font-size: 12px;
    color: red;
    text-align: left !important;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
